[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "*"
flake8 = "*"
responses = "*"

[packages]
django = "*"
ed0a5ba = {editable = true,path = "./.."}
python-decouple = "*"
pagarme-python = "*"

[requires]
python_version = "3.8"
